<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">upload</button>
    </form>
    <ul>
        {{range .Tags}}
        <li><a href="/download?file={{.}}" download>{{.}}</a></li>
        {{end}}
    </ul>
</body>
</html>